 m###### print("hello python")

In [4]:
print("hello \
world")

hello world

In [8]:
print("this is python's world")

this is python's world

In [9]:
print("hello\tworld")

hello	world

In [10]:
print("hello\nworld")

hello
world

In [11]:
print("python\'s world'")

python's world'

In [15]:
print("hello\a")

hello

In [18]:
name="yash"
marks=90.123
age=21
print("the name is",name,"the marks are",marks,"the age is",age)

the name is yash the marks are 90.123 the age is 21

In [31]:
print("the name of the person is %s marks is %f age is %d"%(name,marks,age))

the name of the person is yash marks is 90.123000 age is 21

In [32]:
print(f"the name is {name} the marks is {marks} the age is{age}")

the name is yash the marks is 90.123 the age is21

In [33]:
_=10

In [34]:
_

10

In [35]:

_10=10

In [36]:
_10

10

In [37]:
x=10

In [38]:
id(x)

1480972656

In [39]:
y=10

In [40]:
id(y)

1480972656

In [53]:
id(x) is id(y)

False

In [54]:
del x

In [56]:
del y

In [58]:
id(y)

NameError: name 'y' is not defined

# operators

arthematic operators
comparison operators
assignment operators
bitwise operators
logical operator
membership oerator
identity operator

In [61]:
5**2

25

In [62]:
10+20

30

In [8]:
 10-20

-10

In [64]:
10/2

5.0

In [65]:
10//2

5

In [6]:
10%2

0

# comparison operator

In [2]:
a=10
b=10
a==b

True

In [4]:
c =10
a==b

True

In [5]:
c<a

False

In [6]:
c<=a

True

In [7]:
a>b

False

In [8]:
a>=b

True

In [14]:
a!=b

True

In [17]:
a!=c

True

# assignment operator

a=b
a+=b   (a=a+b)
a-=b    (a=a-b)
a/=b    (a=a/b)
a*=b     (a=a*b)

# bitwise operators

In [30]:
a=240
b=1
a|b

241

In [31]:
bin(a)

'0b11110000'

In [32]:
bin(b)

'0b1'

In [33]:
a&b

0

#logical operators

In [34]:
a=1
b=20
a>b

False

In [35]:
a<b

True

In [36]:
a>b or a<b

True

In [37]:
a>b and a<b

False

In [40]:
a>b or a<b

True

In [42]:
10<9 and 20>m

False

In [43]:
10<9

False

In [44]:
not 10<9

True

# membership operator

In [45]:
str1 ="python"
"o" in str1

True

In [46]:
"a" in str1

False

In [47]:
"f" not in str1

True

# identity operator

In [49]:
a=10
b=10
a==b

True

In [50]:
a is b

True

In [51]:
a is not b

False

In [54]:
id(a)

1482479984

In [53]:
id(b)

1482479984

In [55]:
x=1.5
y=1.5
x==y

True

In [56]:
x is y

False

In [57]:
a=257
b=257
a is b

False

In [58]:
a=256
b=256
a is b

True

In [59]:
a=-5
b=-5
a is b

True

In [61]:
10+10/29*4

11.379310344827587

In [62]:
10>8>9

False

In [64]:
10>8<9

True